* text=auto
*.rs   text eol=lf
*.m    text eol=lf
*.out  text eol=lf
*.err  text eol=lf
*.exit text eol=lf
*.repl text eol=lf
*.proto text eol=lf
*.http text eol=lf
*.md   text eol=lf
*.yml  text eol=lf
*.toml text eol=lf
src/ui/* text eol=lf
